{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ show_project.name }}</h1>
                <p>{{ show_project.description }}</p>
                <h2>Tasks</h2>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                {% if show_project.tasks.all|length != 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        {% for show in show_project.tasks.all %}
                            <tbody>
                                <tr>
                                    <td>{{ show.name }}</td>
                                    <td>{{ show.assignee }}</td>
                                    <td>{{ show.start_date }}</td>
                                    <td>{{ show.due_date }}</td>
                                    <td>{{ show.is_completed|yesno:"yes, no" }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
    <footer>
        <div></div>
    </footer>
</html>
