{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task List for User</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Tasks</h1>
                {% if task_list.tasks.all|length != 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        {% for show in task_list.tasks.all %}
                            <tbody>
                                <tr>
                                    <td>{{ show.name }}</td>
                                    <td>{{ show.start_date }}</td>
                                    <td>{{ show.due_date }}</td>
                                    <td>{{ show.is_completed|yesno:"yes, no" }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
    <footer>
        <div></div>
    </footer>
</html>
